{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ],
    [
      "semantic-release-chrome",
      {
        "extensionId": "abhjljgkidihmaaibaocdoidbbgljnee",
        "asset": "mybigpoint-draw-calculator-${nextRelease.gitTag}.zip"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "mybigpoint-draw-calculator-${nextRelease.gitTag}.zip",
            "label": "mybigpoint-draw-calculator-${nextRelease.gitTag}.zip"
          }
        ]
      }
    ]
  ]
}
